.planets {
    width: 100vw;
    height: calc(100vh - 2em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.buttons-section {
    position: absolute;
    top: 25%;
    width: 99vw;
    margin-top: 5em;
}

.button {
    position: absolute;
    width: 8em;
    height: 30em;
    transition: 0.5s;
    outline: none;
    background: rgba(255, 255, 255, 0.14);
    border: none;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

.button:hover {
    background: #707070;
}

.header {
    margin-bottom: 2em;
}

@media (max-width: 480px) {
    .planets {
        height: 100vh;
    }
    .buttons-section {
        bottom: 0;
    }
    .button {
        height: 5em;
    }
    #prev {
        bottom: 10px;
    }

    #next {
        bottom: 10px;
    }
}
