.films {
  color: white;
  display: flex;
  height: calc(100vh - 300px);
  margin-top: 5em;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.episode-info {
  text-align: center;
}
.episode-info > p {
  font-size: 1.5em;
}
.episode-title {
  font-size: 3em;
  color: #389c8a;
  text-shadow: 3px 5px 7px black;
}

@media (max-width: 480px) {
  .films {
    height: 100vh;
  }
  .episode-info > p {
    font-size: 1em;
  }
  .episode-title {
    font-size: 2em;
  }
}
