.home-container {
    width: 100vw;
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.description {
    margin: 8em 0;
}
.home-container a {
    color: #c0ffec;
    transition: 0.5s;
}
.home-container a:hover {
    color: #749c8a;
}
.api-items {
    display: flex;
    flex-direction: column;
    font-size: 2em;
    align-items: center;
}

@media(max-width: 480px) {
    .home-container {
        height: 100vh;
    }
    .home-container a {
        color: #ff5123;
        transition: 0.5s;
    }
}