* {
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
}

body {
    background: url("./images/body-bg.jpg") no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    overflow: scroll;
}

/*Custom styles for slick-slider*/

.slick-list {
    width: 1500px;
}
.slick-slider {
    width: 50vw;
}
.slick-next, .slick-prev {
    transform: scale(2);
}
.developed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}
.slick-slide .slick-active .slick-current {
    margin: 0px 70px;
}