* {
    margin: 0;
    padding: 0;
    font-family: 'Russo One', sans-serif;
}

body {
    background: url("./images/body-bg.jpg") no-repeat;
    background-size: cover;
    display: flex;
    height: 100%;
    overflow: scroll;
}

.menu-respons {
    z-index: 999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 110vh;
    position: absolute;
    background: linear-gradient(75deg, #0c1829, #171a2a, #0f013f);
}

.developed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
}

/*Custom styles for slick-slider*/

.slick-list {
    width: 800px;
}

.slick-slider {
    width: 40vw;
}

.slick-next, .slick-prev {
    transform: scale(2);
}

.slick-slide {
    height: 550px;
}

.slick-dots {
    position: absolute;
    top: -25px;
    height: 2em;
}

.slick-dots li.slick-active button:before {
    color: white;
}

.slick-dots li button::before {
    transform: scale(2);
    color: white;
}

/*Media queries*/

@media (max-width: 480px) {
    body {
        background: url("./images/body-bg-responsive.jpg") no-repeat;
        background-size: cover;
    }
    .slick-list {
         width: 85vw;
     }
    .slick-slide {
        transform: translateX(-50%);
    }

    .slick-slider {
        width: 85vw;
        margin-left: 27px;
    }

    .slick-current {
        transform: translateX(-35%);
    }

    .developed {
        font-size: 0.5em;
        height: 2em;
        top: 70px;
        left: 10px;
    }
}